
.zeeguuSelection {
	background-color: #ffff96;
}

zeeguuWord, zeeguuSentence {
	-webkit-transition: 1s;
	transition: 1s;
}

zeeguuTranslatedWord {
	color: gray;
}

.zeeguu-pronounce-icon {
	width: 20px;
	height: 20px;
	display: inline !important;
	margin: 0 !important;
}